html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  background-size: cover;
  /* -webkit-transform: rotate(-90deg); */
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}


@font-face {
    font-family: 'Obelix';
    src: url('../fonts/ObelixProB-cyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.scoreboard {
  background: url('../images/background-score.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 40px;
  left: 400px;
  width: 320px;
  margin: 0 auto;
  font-family: 'Obelix';
  text-align: left;
  padding: 20px;
  color: #47C3EA;
  font-size: 14px;
}

.score {
color: black;}


.overgame {
  background: url('../images/background-05.jpg');
  width: 1200px;
  height: 680px;
  margin: 0 auto;
  position: relative;
  background-size: cover;
}
.game {
  width: 680px;
  height: 266.7px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  top: 330px;
}
.hole {
  flex: 2 0 20%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('../images/dirt.svg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('../images/mole.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.mole2 {
  background: url('../images/mole2.svg') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.hole.up .mole2 {
  top: 0;
}
